|
  <script src="/vendor/instantclick.min.js" data-no-instant></script>
  <script src="http://code.jquery.com/jquery-1.10.2.min.js" data-no-instant></script>
  <script src="/vendor/plugins/jquery.color.plus-names-2.1.2.min.js" instant-data></script>
  <script script src="#{asset_path("app.js")}" data-instant></script>
  <link rel='stylesheet' href='/vendor/bootstrap-3.1.1-dist/css/bootstrap.min.css'></link>
  <script src='/vendor/bootstrap-3.1.1-dist/js/bootstrap.min.js' data-no-instant></script>
  <script src="/vendor/plugins/scrolld.min.js" data-no-instant></script>
  <link rel="stylesheet" type="text/css" href="#{asset_path("app.css")}"></link>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"></link>
